<div class="jumbotron">
  <h1 class="display-4">Snow guide</h1>
  <p class="lead">スノーボードを初心者から上級者まで楽しめるための情報共有</p>
  <hr class="my-4">
  <p>無料で始める</p>

  <%= link_to "新規作成", new_user_registration_path, class: "btn btn-primary btn-lg mr-3" %>
  <%= link_to "ゲストログイン", users_guest_sign_in_path, method: :post, class: "btn btn-primary btn-lg" %>
</div>


